# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Ignore large model files
04_BERT/model/*.pt

# OS
.DS_Store
Thumbs.db